{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="POST">
    <img src="/images/logo.svg" alt="GoBarber" height="42">

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" id="email" placeholder="barber@gobarber.com.br">
    <input type="password" name="password" id="password" placeholder="password">

    <button type="submit">Sign In</button>

    <a href="/signup">
      Sign Up
    </a>
  </form>
{% endblock %}
