{% extends "_layouts/default.njk" %}

{% block body %}

  <div class="content">
    <strong>New Appointment</strong>
    <p>Request a new appointment</p>

    <div class="provider --new">
      <div>
        <img src="/files/{{ provider.avatar }}" alt="Appointment whit {{ provider.name }}">
        <strong>{{ provider.name }}</strong>
      </div>
    </div>

    <form action="/app/appointments/new/{{ provider.id }}" method="POST">
      <input type="text" class="flatpickr" placeholder="Pick a date">

      <div id="hours">
        <label>
          <input type="radio" name="" id="">
          12:00
        </label>
        <label>
          <input type="radio" name="" id="">
          12:00
        </label>
        <label>
          <input type="radio" name="" id="">
          12:00
        </label>
      </div>

      <button type="submit">Appoint</button>
    </form>
  </div>

  <script>
    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/Y'
    })
  </script>



{% endblock %}
